:root {
    --header-height: 10vh;
    --navbar-image-size: calc(var(--header-height) * 0.9);
    --header-color: rgb(212, 163, 115);
    --header-color-backup: rgb(250, 237, 205);
    --navbar-color: rgb(212, 163, 115);
    --flex-card-background-color: rgb(85, 166, 90);
    --whole-website-width: 80vw;
}

@media screen and (orientation: portrait) {
    :root {
        --whole-website-width: 100vw;
    }
}

/* PHONES IN LANDSCAPE MODE */
@media screen and (max-width: 1400px) and (orientation: landscape){
    :root {

        --header-height: 15vh;
        
        --whole-website-width: 100vw;
        
        .row-container {
            min-height: 90vh;
        }
        .flex-card {
            min-height: 40%;
            max-height: auto;
            max-width: 50%;
        }

        .flex-card p {
            font-size: calc(1vw + 1vh);
        }

        .flex-card h2 {
            font-size: calc(2vw + 2vh);
        }
    }
} 

/* IPHONE SE LANDSCAPE MODE */
@media screen and (max-width: 700px) and (orientation: landscape) {
    .flex-card {
        min-width: 200px !important;
    }
}



html {
    display: flex;
    justify-content: center;
}

/* style.css */
body{
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    width: var(--whole-website-width);
    justify-content: space-between;
    /* display: flex; */
    background-color: tomato;
}

    header {
            margin-top: 0px;
            z-index: 20;
            position: fixed;
            width: var(--whole-website-width);
            background-color: var(--header-color);
            height: var(--header-height); /* Set flex-grow and flex-shrink to 0 and flex-basis to 10vh */
            justify-content: center;
            align-items: center;
            display: flex;
        }

            nav {
                background-color: var(--navbar-color);
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 90%; /* Set flex-grow and flex-shrink to 0 and flex-basis to 10vh */
                width: 98%;
            }

                /* NAVIGATION BAR LEFT CONTAINER PROPERTIES */
            
                .navbar-left {
                    display: flex;
                    align-items: center;
                    height: 100%; /* Ensure the height is the same as the nav */
                    width: calc(var(--navbar-image-size) * 1.25); /* Initial width, will be adjusted by JS */
                    flex: 0 0 auto; /* Prevent flex-grow and flex-shrink */
                    position: relative; /* Make it easier to position the image */
                    overflow: hidden; /* Hide the overflow for zoom effect */
                }

                        .navbar-image {
                            height: var(--navbar-image-size); /* Use the custom property */
                            width: var(--navbar-image-size); /* Use the custom property */
                            border-radius: 50%; /* Make the image round */
                            object-fit: cover; /* Cover the container */
                        }

                /* NAVBAR TEXT BOX PROPERTIES */

                .navbar-text {
                    line-height: 120%;
                    display: inline-block;
                    justify-content: center;
                    flex: 2 1 0; /* Flex-basis: 2 parts */
                }

                .navbar-text h3 {
                    font-size: medium;
                }

                .navbar-text h4 {
                    font-size: small;
                }

                /* NAVBAR RIGHT PROPERTIES */

                .navbar-right ul {
                    font-weight: bolder;
                    display: flex; /* Align items horizontally */
                    flex-direction: column;;
                    gap: 0rem; /* Optional: Add space between links */
                    text-align: right;
                    font-size: small;
                    white-space: nowrap;
                    list-style: none; /* Remove default list styling */
                    margin: 0; /* Remove default margin */
                    padding: 0; /* Remove default padding */
                }


                .navbar-right ul li {
                    line-height: 2.8vh; /* 25% of 10vh */
                    padding: 0 1rem;
                    border-radius: 5px;
                }

                                 
               
                .navbar-right a {
                    color: rgb(0, 0, 0);
                    text-decoration: none;
                }

                .navbar-right ul li:nth-child(odd) {
                    background-color: rgb(254, 250, 224);
                }

                .navbar-right ul li:nth-child(even) {
                    background-color: rgb(171, 151, 98);
                }

main {
   height:100vh;
   display: flex;
   flex-direction: column;
   flex-grow: 1;
}

main > section:nth-child(odd) {
    background-color: grey;
}
main > section:nth-child(even) {
    background-color: blueviolet;
}


/* COMMON PROPERTIES */

.row-container {
    padding-top: var(--header-height);
    z-index: 1;
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    clear: both;
    min-height: 50vh;
}


    .flex-card-container {
        z-index: 2;
        width: 99%;
        height: 99%;
        display: flex;
        align-items: center;
        flex-direction: row;
        background-color: rgb(0, 0, 0);
        justify-content: space-evenly;    
        flex-wrap: wrap;
        align-content: center;
        /* min-height: 100%; */
    }

        .flex-card {
            /* border: 5px solid black; */
            flex: 1;
            /* min-height: 33vh; */
            min-width: 330px;
            margin: 5px;
            display: flex;
            justify-content: space-around;
            background-color: var(--flex-card-background-color);
            height: 90%;
            /* min-height: 30vh;
            max-height: 50vh; */
        }

            .flex-card img {
                max-width: 100%;
                max-height: 100%;
                object-fit: cover;
                object-position: center top;
            }

            .flex-card h2 {
                font-size: calc(1.50vw + 1.5vh);
                text-align: center;
                color: white;
            }

            .flex-card p {
                font-size: calc(.5vw + 1vh);
                text-align: center;
                color: white;
                /* margin-right: 10%; */
            }

           .evenspaced-content-column {
                align-items: center;
                justify-content: space-evenly;
                display: flex;
                flex-direction: column;
           }

                    #introphoto {
                        flex: 1.5 1 0;
                    }

                    #introtext {
                        flex: 1 1.5 0;
                    }

                    #work .flex-card-container .flex-card {
                            min-height: 1vh;
                            max-height: 15vh;
                            min-width: 32vw;
                        }

                    #work .row-container {
                        display: flex;
                        flex-direction: column;
                        flex-grow: 1; /* Ensure the container grows to accommodate its content */
                    }

                    #work .flex-card-container {
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        flex-grow: 1; /* Ensure the container grows to accommodate its content */
                    }


/* PHONES IN PORTRAIT MODE */
@media screen and (orientation: portrait) {
    .flex-card {
        min-height: 40%;
        max-height: 45%;
    }

    .row-container {
        min-height: 90vh;
    }

}








