/* APPLYING ROOT VARIABLES TO CSS */

:root {
    --a-font-size: max(calc(var(--website-width) * .015), 12px);
    --card-background-color: rgb(0, 0, 0);
    --h1-font-size: max(calc(var(--website-width) * .04), 16px);
    --h2-font-size: max(calc(var(--website-width) * .03), 14px);
    --h3-font-size: max(calc(var(--website-width) * .02), 12px);
    --h4-font-size: max(calc(var(--website-width) * .01), 10px);
    --header-footer-color: rgb(0, 0, 0);
    --header-height: 10vh;
    --heading-line-height: 1;
    --li-font-size: max(calc(var(--website-width) * .004), 4px);
    --navbar-color: rgb(0, 0, 0);
    --navbar-image-size: calc(var(--header-height) * 0.7);
    --p-font-size: max(calc(var(--website-width) * .016), 12px);
    --text-color: rgb(255, 255, 255);
    --website-height: 100vh;
    --website-width: 90vw;
    line-height: 1.5;

    img {
        height: auto;
        width: 200px;
    }
}

/* PHONE PORTRAIT MODE MEDIA QUEERY
BEST LEFT ON THE TOP OF THE REST OF FILE FOR CONSISTENT APPLICATION OF THIS CSS TO THE CODE */

@media only screen and (max-width: 1080px) and (orientation: portrait) {
    :root {
        --a-font-size: max(calc(var(--website-height) * .014), 12px);
        --h1-font-size: max(calc(var(--website-height) * .032), 16px);
        --h2-font-size: max(calc(var(--website-height) * .025), 14px);
        --h3-font-size: max(calc(var(--website-height) * .018), 12px);
        --h4-font-size: max(calc(var(--website-height) * .012), 10px);
        --heading-line-height: 1;
        --li-font-size: max(calc(var(--website-height) * .004), 4px);
        --p-font-size: max(calc(var(--website-height) * .015), 12px);
        --website-width: 97vw;
    }
}

/* STYLE THE VARIOUS HEADINGS AND APPLY VARIABLE FONT SIZE PARAMETERS TO THESE */

h1 {
    color: white;
    font-size: var(--h1-font-size);
    line-height: var(--heading-line-height);
}

h2 {
    color: white;
    font-size: var(--h2-font-size);
    line-height: var(--heading-line-height);
}

h3 {
    color: white;
    font-size: var(--h3-font-size);
    line-height: var(--heading-line-height);
}

h4 {
    color: white;
    font-size: var(--h4-font-size);
    line-height: var(--heading-line-height);
}

li {
    color: white;
    font-size: var(--li-font-size);
}

p {
    color: white;
    font-size: var(--p-font-size);
}


a {
    color: white;
    font-size: var(--a-font-size);
    text-decoration: none;
}

/* SET THE BODY TO FLEX TO ALIGN ALL CONTENT TO CENTRE */

body {
    align-items: center;
    background-color: black;
    display: flex;
    flex-direction: column;
    height: auto;
    z-index: 0;
}

/* STYLE THE HEADER */

header {
    align-items: center;
    background-color: var(--header-footer-color);
    border-bottom: 3px solid rgb(39, 39, 39);
    display: flex;
    height: var(--header-height);
    justify-content: center;
    margin-top: 0px;
    position: fixed;
    width: var(--website-width);
    z-index: 1;
}

/* STYLE THE NAVIGATION BAR */

nav {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 70%;
    justify-content: space-between;
    padding: 0 1vw 0 0;
    width: var(--website-width);
}

.navbar-image {
    border-radius: 50%;
    height: auto;
    object-fit: cover;
    width: var(--navbar-image-size) !important;
}

.navbar-left {
    align-items: center;
    display: flex;
    flex: 1 1 var(--header-height);
    height: 100%;
    justify-content: center;
    max-width: var(--header-height);
    min-width: var(--header-height);
    position: relative;
    width: calc(var(--navbar-image-size) * 1.25);
}

.navbar-middle {
    display: flex;
    flex-direction: column;
    flex: 1 1 calc(var(--website-width) * .02);
    justify-content: end;
    width: 100%;
}

.navbar-right {
    align-items: flex-end;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex: 1 1 calc(var(--website-width) * .01);
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: calc(var(--navbar-image-size) * 1.25);
}

.navbar-right > ul > li:hover {
    transform: translateX(-5px);
    transform: translateY(-5px);
}

.navbar-right > ul {
    display: flex;
    flex-direction: row;
    flex: 1;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* STYLE THE FOOTER */

footer {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 2vw;
    padding-top: var(--header-height);
}

/* STYLE THE MAIN SECTION */

main > section {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: var(--header-height);
    width: var(--website-width);
}

main > section > h2 {
    border-top: 3vh solid rgb(0, 0, 0);
}

/* STYlE THE CARD CONTAINERS, CARD AND CARD CONTENT */

.container-of-cards {
    align-items: stretch;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow: hidden;
    padding: 2vw;
    width: var(--website-width);
}

.card {
    align-items: stretch;
    background-color: var(--card-background-color);
    border: 1px solid black;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-evenly;
    min-width: 30%;
}

.card-content {
    align-items: center;
    background-color: var(--card-background-color);
    color: white;
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 20px;
    width: 100%;
}

.card-content > img {
    height: auto;
    width: 100%;
}

.card > img {
    height: auto;
    width: 100%;
}

/* SET THE STYLES FOR THE TEXT-WHITE CLASS */
.text-white {
    color: var(--text-color);
}

/* VARIOUS INTRO ID STYLES */

#intro-image {
    border-radius: 10%;
}

#intro-text .card-content {
    align-items: start;
}

/* VARIOUS WORK SECTION ID SYLES */

#work .card {
    max-width: 33%;
}

#work .card:first-child {
    max-width: 85%;
    min-width: 80%;
}

#work .card > a {
    display: flex;
    justify-content: center;
}

#work .card > a > img {
    align-items: center;
    height: auto;
    width: 95%;
}

#work .card > a > img:hover {
    box-shadow: 0px 0px 3px 3px rgb(185, 185, 185);
    transform: translateX(-10px);
    transform: translateY(-10px);
}

/* VARIOUS RESUME SECTION STYLES */

#resume .container-of-cards {
    justify-content: space-around;
    flex-wrap: wrap;
}

#resume .card {
    min-width: 28%; 
    max-width: 33%;
}

#resume .card > img {
    max-height: auto;
}

#resume .card:hover {
    box-shadow: 0px 0px 3px 3px rgb(185, 185, 185);
    transform: translateX(-10px);
    transform: translateY(-10px);
}

#resume .card > img:hover {
    /* box-shadow: 0px 0px 3px 3px rgb(185, 185, 185);
    transform: translateX(10px);
    transform: translateY(10px); */
}

#resume .card-content h3 , p {
    font-size: auto;
}


#resume .container-of-cards > .card > img :last-child:hover  {
    right: 0;
}

/* STYLE THE CONTACT FORM */

.form-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.submit-button {
    margin: 20px;
    padding: 15px 0 15px 0;
    background-color: #d7d7d7;
    color:#6b6b6b;
    font-weight: bolder;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-items: ce;
    align-self: center;
    width: 100%;
    font-size: var(--h2-font-size);
    animation: colorChange 3s infinite;
}

/* ANIMATE THE SUBMIT BUTTON */

@keyframes colorChange {
    0% {
        color: #6b6b6b;
    }
    50% {
        color: #000000;
    }
    100% {
        color: #6b6b6b;
    }
}


.submit-button:hover {
    background-color: #faf7d8;
}

/* STYLE THE CONTACT CARD FORM AND LABELS */

#contact .card {
    border: 1px solid white;
    padding: 60px;
    min-width: 70%;
    max-width: 90%;
}


#contact-form label {
    flex: 1;
    margin-right: 20px;
    text-align: left;
    font-size: var(--h3-font-size);
}

#contact-form input, #contact-form textarea {
    flex: 1 1 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


#contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#contact .container-of-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    min-height: 50vh;
}

/* STYLE THE CONTACT ICONS  */

.contact-icons {
    display: flex;
    justify-content: stretch;
    width: 100%;
    align-content: center;
    overflow: hidden;
    padding-top: 2vh;
    align-items: center;

}

.contact-icons a {
    display: flex;
    padding: 0 1vw 0 1vw;
    color: white;
    font-size: 24px;
    text-decoration: none;
    height: 8vh;
    width: 33%;
    align-items: center;
    justify-content: center;
}

.contact-icons a:hover {
    color: #aaa;
}

.contact-icons a img {
    height: 100%;
    width: auto;
    border-radius: 50%;
}

/* MEDIA QUEERIES FOR VERY SMALL SCREEN PHONES AND TABLETS IN PORTRAIT MODE */


@media only screen and (max-width: 600px) and (orientation: portrait) {
    .card {
        min-width: 300px;
    }

    .navbar-right > ul > li {
        align-items: end;
        justify-items: end;
        /* min-width: 49%; */
    }

    .navbar-middle {
        flex: .75 1 calc(var(--website-width) * .02);
        padding-right: 2vw;
    }

    .navbar-right {
        line-height: 2.5;
        padding-right: 2vw;
    }

    .navbar-right > ul > li:nth-child(odd) {
        align-items: right;
    }

    .contact-icons a img {
    
        height: auto;
        width: 10vw;
        border-radius: 50%;
    }

    #contact .card {
        min-width: 90vw;
    }
}

/* MEDIA QUEERIES FOR PHONES AND TABLETS IN LANDSCAPE MODE */

@media only screen and (max-width: 1400px) and (orientation: landscape) {
    :root {
        --heading-line-height: 1;
        --website-width: 97vw;
    }

    #intro-text .card-content > p {
        text-align: center;
    }

    #intro-image {
        max-height: 70vh;
        width: auto;
    }
}

/* MEDIA QUEERY FOR PHONE AND TABLETS IN LANDSCAPE MODE AND MINIMUM ASPECT RATIO OF 2:1 */

@media only screen and (max-width: 1400px) and (orientation: landscape) and (min-aspect-ratio: 2/1) {
    :root {
        --header-height: 14vh;
    }

    #contact .card {
        min-width: 90vw;
        padding: 1vw;
    }

    .contact-icons {
        height: 5vw;
        padding: 0;
    }

    .submit-button {
        padding: 1vw;
        margin: 10px;
    }

    #contact > .container-of-cards > button {
        max-height: 2vh;
    }

    #message {
        max-height: 15vh;
    }
}

/* MEDIA QUEERY FOR PHONES AND SMALL DEVICES IN PORTRAIT MODE  */

@media only screen and (max-width: 1080px) and (orientation: portrait) {
    :root {
        --a-font-size: max(calc(var(--website-height) * .016), 12px);
        --h1-font-size: max(calc(var(--website-height) * .032), 16px);
        --h2-font-size: max(calc(var(--website-height) * .025), 14px);
        --h3-font-size: max(calc(var(--website-height) * .018), 12px);
        --h4-font-size: max(calc(var(--website-height) * .012), 10px);
        --heading-line-height: 1;
        --li-font-size: max(calc(var(--website-height) * .004), 4px);
        --p-font-size: max(calc(var(--website-height) * .015), 12px);
        --website-width: 97vw;
    }

    main > section {
        padding-top: 0 !important;
    }

    header {
        position: fixed;
        bottom: 0;
        border-top: 3px solid rgb(39, 39, 39);
        border-bottom: 0;
    }

    footer {
        padding-bottom: calc(var(--header-height)*1.5);
    }

    .container-of-cards {
        padding: 0 !important;
    }

    .navbar-middle {
        flex: .7 1 calc(var(--website-width) * .02);
    }

    #aboutme > .card {
        min-width: 70vw;
    }

    #work h2 {
        border-top: 3vh solid rgb(0, 0, 0);
        border-bottom: 1vh solid rgb(0, 0, 0);
    }

    #aboutme {
        border-top: 3vh solid rgb(0, 0, 0);
        border-bottom: 10vh solid rgb(0, 0, 0);
    }

    #intro-text .card-content {
        align-items: center;
    }

    #intro-text .card-content > p {
        text-align: center;
    }

    #resume h2 {
        border-top: 3vh solid rgb(0, 0, 0);
        border-bottom: 3vh solid rgb(0, 0, 0);
    }

    #resume .card {
        max-width: 97%;
        min-width: 95%;
    }

    #resume .container-of-cards {
        flex-wrap: wrap;
    }

    #contact {
        padding-top: calc(var(--header-height)*1);
        padding-bottom: calc(var(--header-height)*1);
    }

    #contact h2 {
        border-top: 10vh solid rgb(0, 0, 0);
        border-bottom: 3vh solid rgb(0, 0, 0);
    }

    #contact .card {
        padding: 5px;
    }

    #intro-text .card-content {
        align-items: center !important;
    }

    #work .card:first-child {
        max-width: 100%;
        min-width: 100%;
    }

    #work .card {
        max-width: 90%;
        min-width: 90%;
    }
    
}

/* MEDIA QUEERY FOR IPAD SIZED DEVICES IN PORTRAIT MODE */
@media only screen and (max-width: 768px) and (orientation: portrait) {

    .card {
        flex: .5 .5 60%;
    }

}


/* END OF MEDIA QUEERY */
